body {
	background:#f5f5f5;
}

.min-cover{
	min-height:93vh;
}

.min-cover-85{
	min-height:85vh;
}
.bg-white {
	background:white !important;
}

.header-container {
    box-shadow: 0 0 3px -1px;
}

footer {
	background: #212529!important;
    display: flex;
    align-items: center;
    width: 100%;
    height: 7vh;
}
footer p {
	margin:auto;
}

.form-signin {
  width: 100%;
  max-width: 350px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px -1px;
  padding: 15px 35px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .form-floating {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .form-floating.last {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.elemHide {
	display:none;
}

.errorMessage {
    color: rgb(255 0 110);
    display: block;
    text-align: right;
    margin: .7rem 0;
}
.link-dark{
    border-bottom: 2px solid transparent;
}
.link-secondary {
	color: #6c757d;
    border-bottom: 2px solid #0d6efd;
}
.fa-user:before {
  content: "\f007"; }
.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; 
 }
 
 .fa-30{
 width:30px;
 }
  .products-container {
    background: white;
    border-left: 1px solid rgb(0 0 0 / 10%);
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    border-right: 1px solid rgb(0 0 0 / 10%);
  } 
